body {
  background-color: rgb(244, 243, 243);
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.auth-form {
  background-color: #005045;
  color: white;
  padding: 2rem;
  margin: 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.auth-form h1 {
  color: white;
  text-align: center;
}

.auth-form p {
    color: white;
    text-align: center;
}

.auth-form .input {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.auth-form .button {
  background-color: white;
  color: #005045;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}

.auth-form .alert {
    color: red;
    margin-bottom: 1rem;
}

.auth-form a {
    color: white;
}
