.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #005045;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalContent h2 {
  margin-top: 0;
  color: white;
  text-align: center;
}

.modalInput {
  background-color: white;
  color: #005045;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
  align-items: center;
}

.modalButton {
  background-color: white;
  color: #005045;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.cancelButton {
  background-color: white;
  color: #005045;
  border: 1px solid #005045;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.forgotPassword {
  color: white;
  margin-right: auto;
}

@media (max-width: 480px) {
  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .forgotPassword {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
}
.emailModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.emailModalContent {
  background: #005045;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.emailModalTitle {
  margin-top: 0;
}

.emailModalText {
  margin: 1.5rem 0;
  font-size: 1.1rem;
}

.emailModalButton {
  background-color: white;
  color: #005045;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
